Repository sebastienvermeille/another-protobuf-maven-plugin, pull requests merged in 2023-09, with the labels that each got.

#20 New feature: sorting of .proto files
  src/it/TEST-38/invoker.properties
  src/it/TEST-38/pom.xml
  src/it/TEST-38/src/main/proto/it/project1/subproject1/test1_1.proto
  src/it/TEST-38/src/main/proto/it/project1/subproject2/test1_2.proto
  src/it/TEST-38/src/main/proto/it/project1/test1.proto
  src/it/TEST-38/src/main/proto/it/project2/test2.proto
  src/it/TEST-38/verify.groovy
  src/main/java/dev/cookiecode/maven/plugin/protobuf/AbstractProtocMojo.java
Labels: java, new feature

#29 Update README.md add discord link
  README.md
Labels: documentation

#32 Improved documentation of sortProtoFiles feature
  src/main/java/dev/cookiecode/maven/plugin/protobuf/AbstractProtocMojo.java
Labels: documentation, java
